@use "../abstracts/variables" as *;

.card {
  background: $color-bg-secondary;
  color: $color-white;
  border: none;
  border-radius: $radius-lg;
  padding: 20px;
  height: 100%;
  transition: 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  h4 {
    color: $color-primary-light;
  }
}
