@use "../abstracts/variables" as *;

// ==========================
// MODAL
// ==========================

.modal-content {
  background: $color-bg-secondary;
  color: $color-white;
}

.modal-header {
  border-bottom: 1px solid $color-border;
}
