@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// ==========================
// HERO
// ==========================

.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: $spacing-3xl 0;

  h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
  }

  p {
    color: $color-text-light;
    font-size: 18px;
    margin: 25px 0;
  }

  img {
    width: 110%;
    max-width: 700px;
    height: auto;
  }

  @include respond(md) {
    text-align: center;

    h1 {
      font-size: 36px;
    }
  }
}
.hero-content {
  padding-top: $spacing-2xl;
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;

  @include respond(md) {
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
    padding-top: $spacing-lg;
  }
}
