@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// ==========================
// NAVBAR
// ==========================
.navbar {
  background: $color-bg;
  padding: $spacing-md 0;

  &-brand {
    font-size: 28px;
    font-weight: bold;
    color: $color-primary !important;
  }
}

.nav-link {
  color: $color-white !important;
  margin-left: $spacing-md;

  &:hover {
    color: $color-primary-light !important;
  }
}

.navbar-nav {
  @include respond(md) {
    text-align: center;
  }
}
